.chart-container {
    background-color: antiquewhite;
}

.chart-content {
    background-color: aqua;
}

.chart-image {
    display: inline;
}

.chart-text {
    font-size: 14;
}

.chart-button{
    font-size: medium;
    float: center;
}